def foo(webdriver):
		element = webdriver.find_element_by_id("uc-btn-accept-banner")

class Setup:

	config = {
		"chat_id": ,
		"manager_bot": '',
		"manager_bot_name": '',
		"logfile": '',

		"sites": {
			"some_website": {
				"step": foo, # steps do run before screenshot
				"url": '<url>',
				"takePicture": False,
			},
		}
	}